body {
  font-family: "Helvetica", sans-serif;
  width: auto;
  margin: 10px auto;
}

h1 {
  font-size:20px;
  border-bottom: solid 3px gray;
  padding-bottom: 8px;
}

h2 {
  font-size:16px;
  font-weight: bold;
}

h3 {
  font-size: 14px;
  font-style: italic;
  font-weight: lighter;
}

p1 {
  font-size: 12px;
  font-weight: lighter;
}

.button {
  padding:5px;
  background-color: #dcdcdc;
  border: 1px solid #666;
  color:#000;
  text-decoration:none;
}
/* For devices 400px and smaller: */
/*@media screen and (max-width: 400px) {*/
/*.img-circle {*/
      /*border-radius: 50%;*/
      /*width: 50px;*/
  /*}}*/

/* For devices 400px and larger: */
/*@media screen and (min-width: 400px) {*/
.img-circle {
      border-radius: 50%;
      width: 125px;
  }
/*}*/
